you should uh do something here.  cool.


<div class="page-header">
   	<h1>Login</h1>
    <div class="alert alert-info">
    	Login with <a {{ action 'authenticateWithRails' }} >Rails</a>
   </div>
 </div>




<p>{{input type='email' placeholder='Username'  value=username}}</p>
<p>{{input type='password' placeholder='Password'  value=password }}</p>

<button {{action 'authenticateWithRails'}}>login bro</button>
                  

