<h2 id="title">Welcome to Ember</h2>
login stuff 
{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  <a {{ action 'authenticateSession' }}>Login</a>
{{/if}}
end login stuff
{{outlet}}

